.is-bold {
	font-weight: bold;
}

.is-indented {
	padding-left: $indent-size;
}

.clear {
	@include clearfix;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.space-block {
	height: $space-height;
}
