.is-bold {
	font-weight: bold;
}

.is-indented {
	padding-left: $indent-size;
}

.title {
	font-weight: bold;
	font-size: 1.3em;
	text-transform: uppercase;
	@include space-after;
}

.clear {
	@include clearfix;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
